/*
* {
  background: linear-gradient(to right, #8360c3, #2ebf91);
}
*/

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* LAYOUT */
.container {
 max-width: 968px;
 margin-left: auto;
 margin-right: auto;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/* UTILITIES */
.section {
  /*background: linear-gradient(to right, #8360c3, #2ebf91);*/
  padding: 6rem 0 3rem;
  margin: auto;
  /*height: 100vh;*/
}

.section__title {
 color: var(--title-color);
}

.section__subtitle {
  display: block;
  margin-bottom: 3rem;
}

.section__title, .section__subtitle {
  text-align: center;
}



/* BREAKPOINTS */
/* @media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1280px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
} */
